<h1>About Me</h1>
<p>
  <a href="https://githun.com/GregSutcliffe/delve">Delve</a> was written by
  Greg Sutcliffe as a Ruby-on-Rails rewrite of
  <a href="http://opendias.essentialcollections.co.uk">OpenDIAS</a>, an excellent
  but sadly abandoned project for managing documents.

  Greg's blog can be found <a href="http://www.emeraldreverie.org">here</a> and
  his other projects can be found
  on <a href="https://github.com/GregSutcliffe">Github</a>
</p>
