<h1>How to get help</h1>
<p>
  You can get help from the Delve manual at
  <a href="https://github.com/GregSutcliffe/delve">GitHub</a>.
</p>
<p>
  Or come talk to us on IRC in
  <a href="irc://chat.freenode.net">Freenode #delve</a>.
</p>
