<div class="center hero-unit">
  <h1>Welcome to Delve!</h1>

  <h2>
    This is the Delve home page. See the
    <a href="https://github.com/GregSutcliffe/delve">Delve manual</a>
    for information on how to get started.
  </h2>

  <a href="#" class="btn btn-large btn-primary">Scan something now!</a>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
