<li class="span4">
  <div class="thumbnail">
    <%= link_to (image_tag "/scans/#{page.path}"),
                 image_path("/scans/#{page.path}"),
                 :target => "_blank" %>
  </div>
  <div class="caption center">
    <%= action_buttons(page) %>
  </div>
</li>
