<% provide(:title, @document.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @document.name %>
      </h1>
      <h2>
        Location: <%= @document.location %>
      </h2>
    </section>
  </aside>
</div>
