<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Delve", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Scanners", '#' %></li>
          <li><%= link_to "Pages",    '#' %></li>
          <li><%= link_to "Help",     '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
